a {
    text-decoration: none;
};

#navBar{
    background-color: #333e99;
    height: 80px;
    width: 100vw;
    padding: 0 10em;
    position:fixed;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color: #0dcaf0;
        display: inline;
    }
    .cart-icon {
        color: #0dcaf0;
        font-size: 2rem;
    };
    .badge {
        position:absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%,-50%) 
    }
};

main {
    padding-top: 80px;
}

.hidden {
    display: none;
}

#itemListContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
    h3, h4 {
        width: 100%;
        text-align: center;
        align-self: center;
    }
}

.producto{
    width:98%;
    min-height: 390px;
    margin: 1em 0; 
    display: flex;
    border: 1px solid #333E99;
    border-radius: .25rem;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    box-sizing: border-box;
    &.detalle{
        min-height: 500px;
        margin: .5em 0;
        h3 {
            color: #333E99;
            font-size: 2rem;
            text-align: center;
            margin: 0;
        }
        .precio{
            font-size:3em;            
        }
        .descripcion {
            font-size: 1.2rem;
            padding: 0 .5em;
            &.titulo {
                margin-bottom:.4rem;
                font-size: 1.5rem;
            }
        }
        .containerImg {
            padding-top: 40%;           
        }
    }
    a, p{
        color: #333E99;
    }
    .botoneraCounter{ 
        border: 1px solid #333E99;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-content: center;        
        p {
            width: 50%;
            font-size: 1.4em;
            display: block;
            align-self: center;
            margin: 0;
            line-height: 1;
            text-align: center;
        }
        .btn-sm{
            background-color: #333e99;
            border-color: #333e99;
            font-size: 2em;
            padding: 0;
            padding-bottom: .2em;
        }
        i {
            line-height: 1;
        }
        button {
            width: 20%;
            margin: .2em .5em;
        }           
    }
    h4 {
        color: #333E99;
        font-size: 1.3rem;
        text-align: center;
        min-height: 100px;
        margin: 0;
    }
    .btn-agregar {
        width: 100%;
        margin: 0;
        background-color: #333e99;
        border-color: #333e99;
        a {
            color: white;
        }
        
    }
    .precio {
        display: block;
        width: 100%;
        margin: 0;
        font-size: 2em;
        text-align: center;
    }
    .containerImg {
        align-self: center;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 50%;
        margin: .5em 0;
        img {
            position: absolute;
            top:0; 
            left: auto;      
            height:100%;
            align-self:center;
        } 
    }    
}

.itemCarrito {
    margin: 1em;
    border: 1px solid #333E99;
    border-radius: .25rem;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: stretch;
    .containerImg {
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: center;     
        position: relative;
        overflow: hidden;
        padding-top: 15%;
        margin: .5em 0;
        img {
            position: absolute;
            top:0; 
            left: auto;      
            height:100%;
            align-self:center;
        }        
    }
    .col-2, .col-6 {
        font-size: 2rem;
        border: 1px solid #333E99;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        .titulosCarrito{
            color: white;
            background-color: #333e99;
            font-size: 1rem;
            padding-bottom:.3rem
        }
        p{
            height: 100%;
            margin: 0;
            padding-top: 15%;
        }         
    }
    .iconoBorrar {
        display: flex;
        flex-direction: column;
        justify-content:center;
        a{
            font-size: 3rem;
        }
    }
    
}
