a {
    text-decoration: none;
};

#navBar{
    background-color: #333e99;
    height: 70px;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color: #0dcaf0;
        display: inline;
    }
    .cart-icon {
        color: #0dcaf0;
    };
};

#itemListContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
    h3, h4 {
        width: 100%;
        text-align: center;
        align-self: center;
    }
}

.producto{
    width: 24%;
    display: flex;
    border: 1px solid #333E99;
    border-radius: .25rem;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    box-sizing: border-box;
    .botoneraCounter{ 
        border: 1px solid #333E99;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-content: center;
        p {
            width: 50%;
            font-size: 1.4em;
            display: block;
            align-self: center;
            margin: 0;
            line-height: 1;
            text-align: center;
        }
        .btn-sm{
            background-color: #333e99;
            border-color: #333e99;
            font-size: 2em;
            padding: 0;
            padding-bottom: .2em;
        }
        i {
            line-height: 1;
        }
        button {
            width: 20%;
            margin: .2em .5em;
        }           
    }
    .btn-agregar {
        width: 100%;
        margin: 0;
        background-color: #333e99;
            border-color: #333e99;
    }
    .precio {
        display: block;
        width: 100%;
        margin: 0;
        font-size: 2em;
        text-align: center;
    } 
}
